*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: #008b8b;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #008b8b;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h3 {
  text-align: center;
  color: #008b8b;
  font-size: 30px;
}

h1 {
  text-align: center;
  color: #008b8b;
  font-size: 30px;
  margin: 30px 0px 15px 0px;
}

p {
  color: #008b8b;
}

header {
  background-color: #ebf5ee;
  color: #0eb0ab;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  width: 100%;
}
header img {
  width: 300px;
  margin-bottom: 20px;
  margin: 10px;
}
header nav {
  margin-bottom: 20px;
}
header nav a {
  margin: 15px;
  color: #008b8b;
  font-size: 20px;
  transition: 0.3s;
}
header nav a:hover {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  animation-name: example;
  animation-duration: 0.25s;
  border-left: 8px solid red;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 10px;
}
@media (max-width: 576px) {
  header nav a {
    display: block;
  }
}
header nav a:hover {
  color: #e20914;
}

.oculto {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.boton {
  background-color: #0eb0ab;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}
.boton:hover {
  background-color: #023e8a;
}

footer {
  background-color: #ebf5ee;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px 0px 0px;
  text-align: center;
  width: 100%;
}
footer p {
  margin: 0px 10px;
  color: #008b8b;
  margin-top: 5px;
}
footer div {
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  box-shadow: none;
  padding: 20px 30px 30px 30px;
  background-color: #ebf5ee;
}
footer div a {
  margin: 0 20px;
}
footer div img {
  width: 40px;
  height: auto;
  padding: 0;
}

.blanco {
  background-color: #FFFFf1;
}
.blanco div {
  background-color: #FFFFf1;
}

body {
  font-family: "Nunito", sans-serif;
}

.divQuienesSomos {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  align-items: center;
}
@media (max-width: 768px) {
  .divQuienesSomos {
    display: flex;
    flex-direction: column;
  }
}

.imgSomos {
  grid-column: 1/3;
}
@media (max-width: 768px) {
  .imgSomos {
    display: flex;
    order: 2;
    padding: 10px;
    border-radius: 30%;
  }
}
.imgSomos img {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 100px;
}
@media (max-width: 768px) {
  .imgSomos img {
    width: 100%;
    padding: 0px;
  }
}

.divSomos {
  margin-top: 20px;
  grid-column: 3/5;
  width: 90%;
  background-color: #FFFFf1;
  padding: 30px 0px 30px 0px;
  border-radius: 50px;
}
@media (max-width: 768px) {
  .divSomos {
    order: 1;
    margin: 10px 0px;
  }
}
.divSomos:hover {
  box-shadow: 8px 16px 24px hsla(0, 0%, 0%, 0.25);
  border: 2px solid #008b8b;
  transform: scale(1.03);
  background-color: #f0fafa;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.divSomos h3 {
  color: #e20914;
  font-weight: 600;
}
.divSomos p {
  color: #008b8b;
  margin-top: 10px;
  text-align: justify;
  font-size: 14px;
  padding: 0px 20px 0px 20px;
}

.sectionQuienes {
  padding: 0px 25px 50px 25px;
  background-color: #ebf5ee;
}
@media (max-width: 768px) {
  .sectionQuienes {
    padding: 0;
  }
}

.misionVision {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-content: center;
  background-color: #FFFFf1;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (max-width: 768px) {
  .misionVision {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 0px;
  }
}
.misionVision .vision {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mision,
.vision {
  width: 70%;
  margin: 0 auto;
  background-color: #ebf5ee;
  padding: 10px;
  border-radius: 20px;
  height: auto;
}
@media (max-width: 768px) {
  .mision,
  .vision {
    height: auto;
    width: 90%;
  }
}
.mision:hover,
.vision:hover {
  box-shadow: 8px 16px 24px hsla(0, 0%, 0%, 0.25);
  border: 2px solid #008b8b;
  transform: scale(1.03);
  background-color: #f0fafa;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.mision .imgMision,
.vision .imgMision {
  height: 50px;
  width: auto;
  margin: 0 auto;
}
.mision .imgVision,
.vision .imgVision {
  height: 40px;
  width: auto;
  margin: 0 auto;
}
.mision p,
.vision p {
  text-align: center;
  color: #008b8b;
  font-size: 14px;
  margin-top: 10px;
}
.mision h3,
.vision h3 {
  color: #e20914;
  font-size: 25px;
  font-weight: 200;
  margin-bottom: 5px;
}

.sectionDiferentes {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 40px;
  align-items: center;
  justify-content: center;
  background-color: #ebf5ee;
}
@media (max-width: 768px) {
  .sectionDiferentes {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0;
  }
}
.sectionDiferentes .divtexto {
  grid-column: 1/2;
  background-color: #FFFFf1;
  padding: 30px 0px;
  border-radius: 50px;
}
@media (max-width: 768px) {
  .sectionDiferentes .divtexto {
    margin: 30px 10px;
  }
}
.sectionDiferentes .divtexto:hover {
  box-shadow: 8px 16px 24px hsla(0, 0%, 0%, 0.25);
  border: 2px solid #008b8b;
  transform: scale(1.03);
  background-color: #f0fafa;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.sectionDiferentes .divtexto h3 {
  color: #e20914;
}
.sectionDiferentes .divtexto p {
  text-align: justify;
  color: #008b8b;
  font-size: 14px;
  padding: 0px 20px;
  margin-top: 10px;
}
.sectionDiferentes .divImg {
  grid-column: 2/4;
}
@media (max-width: 768px) {
  .sectionDiferentes .divImg {
    width: 100%;
    height: auto;
  }
}
.sectionDiferentes .divImg img {
  width: 80%;
  margin: 0 auto;
  border-radius: 30px;
}
@media (max-width: 768px) {
  .sectionDiferentes .divImg img {
    width: 95%;
    height: auto;
    margin: 10px 20px 20px 10px;
  }
}

.formularioContacto {
  background-color: #FFFFf1;
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-items: center;
  align-items: center;
}
@media (max-width: 768px) {
  .formularioContacto {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
.formularioContacto button {
  background-color: #0eb0ab;
  color: white;
  font-size: 20px;
  border: solid 1px #0eb0ab;
  border-radius: 10px;
  padding: 10px;
}
.formularioContacto button:hover {
  cursor: pointer;
}
.formularioContacto .teContactamos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ebf5ee;
  width: 50%;
  border-radius: 20px;
  padding: 20px;
  height: 300px;
}
@media (max-width: 768px) {
  .formularioContacto .teContactamos {
    width: 80%;
  }
}
.formularioContacto .teContactamos .forulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.formularioContacto .teContactamos .forulario h3 {
  color: #e20914;
  font-weight: 600;
}
.formularioContacto .teContactamos .forulario label {
  color: #008b8b;
}
.formularioContacto .teContactamos .forulario input {
  width: 80%;
  margin-bottom: 20px;
  border: 1px solid #008b8b;
  height: 25px;
  border-radius: 10px;
}
.formularioContacto .contactanos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ebf5ee;
  width: 50%;
  border-radius: 20px;
  height: 300px;
}
@media (max-width: 768px) {
  .formularioContacto .contactanos {
    width: 80%;
  }
}
.formularioContacto .contactanos h3 {
  color: #e20914;
  font-weight: 600;
}
.formularioContacto .contactanos button {
  margin-top: 10px;
}

.grupoCavida {
  background-color: #FFFFf1;
}
.grupoCavida h3 {
  color: #e20914;
  font-weight: 500;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .grupoCavida h3 {
    font-size: 20px;
  }
}

.grupoCavidaDiv {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  width: 100%;
  justify-items: center;
  align-items: center;
}
.grupoCavidaDiv div {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.grupoCavidaDiv div .img2grupo {
  width: 40%;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .grupoCavidaDiv div .img2grupo {
    width: 50%;
  }
}
.grupoCavidaDiv div img {
  height: auto;
  width: 70%;
}

/*# sourceMappingURL=inicio.css.map */
