*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h3 {
  text-align: center;
  color: #0eb0ab;
  font-size: 30px;
}

header {
  background-color: #e5e5e0;
  color: #0eb0ab;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  width: 100%;
}
header img {
  width: 200px;
  margin-bottom: 20px;
}
header nav a {
  margin: 15px;
  font-weight: bold;
  transition: 0.3s;
}
@media (max-width: 576px) {
  header nav a {
    display: block;
  }
}
header nav a:hover {
  color: #e20914;
}

.oculto {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.boton {
  background-color: #0eb0ab;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}
.boton:hover {
  background-color: #023e8a;
}

footer {
  background-color: #e5e5e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px 0px 0px;
  text-align: center;
  width: 100%;
}
footer p {
  margin: 0px 10px;
}
footer div {
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  box-shadow: none;
  padding: 30px;
  background-color: #e5e5e0;
}
footer div a {
  margin: 0 20px;
}
footer div img {
  width: 40px;
  height: auto;
  padding: 0;
}

.servicios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.servicio {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 90%;
}

.divGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  place-content: center;
}
.divGrid p {
  text-align: center;
  background-color: #0eb0ab;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.serviciosGrid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
}
@media (max-width: 576px) {
  .serviciosGrid {
    display: flex;
    flex-direction: column;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.divEmpresarial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.divEmpresarial div {
  background-color: #0eb0ab;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 80%;
}
.divEmpresarial div p {
  color: white;
  text-align: center;
}
.divEmpresarial span {
  font-weight: 800;
}

.imgAsistencial {
  width: 80%;
  height: auto;
  border-radius: 10px;
}

.imgEmpresarial {
  width: 60%;
  height: auto;
  border-radius: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.column p {
  width: 60%;
}

/*# sourceMappingURL=servicios.css.map */
