@use '../main.scss';
@use '../utilidades/variables' as v;

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

div{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin-top: 40px;
    background-color: v.$fondo;

    @media (max-width:v.$celularGrande) {
        width: 90%;
    }

    h3{
        font-size: 30px;
        color: v.$color-primario-azul;
        margin-bottom: 20px;
        text-align: center;
    }
    p{
        line-height: 2;
        margin: 0 20px;
        text-align: justify;
    }
}

