@use '../utilidades/variables' as v;

header {
  background-color: v.$fondo;
  color: v.$color-primario-azul;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  width: 100%;

  img {
    width: 200px;
    margin-bottom: 20px;

  }

  nav a {
    margin: 15px;
    font-weight: bold;
    transition: 0.3s;

    @media (max-width : v.$celularGrande) {
      display: block;
    }

    &:hover {
      color: v.$color-rojo;
    }
  }
}