@use '../utilidades/variables';

header {
  background-color: variables.$gris-fondo;
  color: variables.$color-primario-azul;
  display: flex;
  justify-content: center;
  align-items: center;

  nav a {
    margin-left: 1rem;
    font-weight: bold;
    transition: 0.3s;

    &:hover {
      color: variables.$color-rojo;
    }
  }
}
