@use '../utilidades/variables';

.boton {
  background-color: variables.$color-primario-azul;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color:#023e8a;
  }
}
