@use '../utilidades/variables';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: variables.$tamano-base;
  color: #008b8b;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #008b8b;

}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h3 {
  text-align: center;
  color: #008b8b;
  font-size: 30px;
}

h1 {
  text-align: center;
  color: #008b8b;
  font-size: 30px;
  margin: 30px 0px 15px 0px;
}

p {
  color: #008b8b;
}