@use '../utilidades/variables';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: variables.$fuente-principal;
  font-size: variables.$tamano-base;
  color: variables.$color-texto;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h3 {
  text-align: center;
  color: variables.$color-primario-azul;
  font-size: 30px;
}
h1 {
  text-align: center;
  color: variables.$color-primario-azul;
  font-size: 30px;
  margin: 10px;
}