//Colores
$color-primario-azul: #0eb0ab;
$color-secundario-azul: #8bdcda;
$color-rojo : #e20914; 
$color-texto: #333;
$gris-fondo : #e0e0e0;

//Tipografía
$fuente-principal: 'Segoe UI', sans-serif;
$tamano-base: 16px;

//Media querys tamaños
$celular : 480px;
$celularGrande : 576px;
$tablet : 768px;
$pc : 1200px;